bin/
gen/
obj/
libs/*/*.so
app/build/*
.gradle/
build/
local.properties
*~
~*
*#*#
app/src/main/res/values/dev.xml
app/src/debug/
*PermissionsDispatcher.java
*/BuildConfig.java
BuildConfig.java
*BuildConfig*
*.iml
.idea/
*/*.iml
test*.gitlab-ci.yml
