<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nao20010128nao.Wisecraft.asfsls">

    <application
        android:allowBackup="true"
        android:icon="@drawable/wisecraft_icon"
        android:label="@string/addServerFromServerListSite"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ServerGetActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.nao20010128nao.Wisecraft.ASFSLS"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
