<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nao20010128nao.Wisecraft.accounts" >

    <application>
        <activity
			android:label="@string/signin"
			android:name=".SigninActivity"
			android:exported="false"/>
		<activity
			android:label="@string/register"
			android:name=".RegisterActivity"
			android:exported="false"/>
    </application>

</manifest>

