<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nao20010128nao.Wisecraft"
    android:versionCode="19"
    android:versionName="1.3" >

    <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="21" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
		android:name=".TheApplication">
        <activity
            android:label="@string/app_name"
            android:name=".ServerListActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:label="@string/app_name"
            android:name=".ServerInfoActivity"
			android:exported="false">
        </activity>
		<activity
            android:label="@string/testServer"
            android:name=".ServerTestActivity"
			android:exported="false">
        </activity>
		<activity
            android:label="@string/rcon"
            android:name=".rcon.RCONActivity"
			android:exported="false">
        </activity>
		<activity
            android:label="@string/proxy"
            android:name=".proxy.ProxyActivity"
			android:exported="false">
        </activity>

		<activity
            android:label="@string/app_name"
            android:name=".api.RequestedServerInfoActivity" >
            <intent-filter >
                <action android:name="com.nao20010128nao.Wisecraft.SERVER_INFO" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:label="@string/app_name"
            android:name=".TrickSheet" >
            <intent-filter >
                <action android:name="com.nao20010128nao.TRICK_SHEET" />
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

		<activity
            android:label="@string/settings"
            android:name=".SettingsActivity"
			android:exported="false">
        </activity>

		<activity
            android:label="@string/serverFinder"
            android:name=".ServerFinder"
			android:exported="false">
        </activity>
		<activity
            android:label="@string/addServerFromServerListSite"
            android:name=".ServerGetActivity"
			android:exported="false">
        </activity>
		
		<activity
            android:label="@string/app_name"
            android:name=".ServerListActivity$Content"
			android:exported="false">
        </activity>
    </application>
</manifest>
