<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
    package="com.nao20010128nao.Wisecraft">
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:name=".TheApplication">
        <activity
            android:label="@string/app_name"
            android:name=".ServerListActivity"
			android:theme="@style/AppTheme.NoActionBar">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
			android:label="@string/app_name"
			android:name=".ServerInfoActivity"
			android:exported="false"
			android:theme="@style/AppTheme.ServerInfo">
        </activity>
        <activity
			android:label="@string/testServer"
			android:name=".ServerTestActivity"
			android:exported="false">
        </activity>
        <activity
			android:label="@string/rcon"
			android:name=".RCONActivity"
			android:exported="false"
			android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
			android:label="@string/mtl"
			android:name=".ProxyActivity"
			android:exported="false">
        </activity>

        <activity
			android:label="@string/app_name"
			android:name=".api.RequestedServerInfoActivity" >
            <intent-filter >
                <action android:name="com.nao20010128nao.Wisecraft.SERVER_INFO" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter >
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" /> 
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="wisecraft" android:host="serverinfo"/>
            </intent-filter>
            <intent-filter >
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" /> 
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="wisecraft" android:host="info"/>
            </intent-filter>
        </activity>
		<activity
			android:label="@string/add"
			android:name=".api.AddServerActivity"
			android:theme="@style/AppDialog">
            <intent-filter >
                <action android:name="com.nao20010128nao.Wisecraft.ADD_SERVER" />
                <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter >
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" /> 
				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.VIEW" />
				<data android:scheme="wisecraft" android:host="addserver"/>
            </intent-filter>
			<intent-filter >
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" /> 
				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.VIEW" />
				<data android:scheme="mccqp"/>
            </intent-filter>
        </activity>

		<activity
			android:label="@string/settings"
			android:name=".FragmentSettingsActivity"
			android:exported="false"
			android:fitsSystemWindows="false">
        </activity>
		<activity
			android:label="@string/serverListLooks"
			android:name=".FragmentSettingsActivity$ServerListStyleEditor"
			android:exported="false"
			android:fitsSystemWindows="false">
        </activity>
		
        <activity
			android:label="@string/serverFinder"
			android:name=".ServerFinderActivity"
			android:exported="false">
        </activity>
        <activity
			android:label="@string/addServerFromServerListSite"
			android:name=".ServerGetActivity"
			android:exported="false">
        </activity>
		
        <activity
			android:label="@string/app_name"
			android:name=".ServerTestActivity$Content"
			android:exported="false">
        </activity>

        <activity
			android:label="@string/serverFinder"
			android:name=".ServerFinderActivity$Content"
			android:exported="false">
        </activity>

        <activity
			android:label="@string/osl"
			android:name=".OpenSourceActivity"
			android:exported="false"
			android:theme="@style/AppTheme.OpenSource">
        </activity>
        <activity
			android:label="@string/aboutApp"
			android:name=".AboutAppActivity"
			android:exported="false"
			android:theme="@style/AppTheme.OpenSource">
        </activity>
		
		<activity
			android:label="@string/genLink"
			android:name=".GenerateWisecraftOpenLinkActivity"
			android:exported="false">
        </activity>
		
		<activity
			android:label="@string/select"
			android:name=".widget.WidgetServerSelectActivity"
			android:exported="false"
			android:fitsSystemWindows="false">
        </activity>

        <service
			android:label="@string/app_name"
			android:name=".services.CollectorMainService"
			android:exported="false">
        </service>
        <service
			android:label="@string/app_name"
			android:name=".services.SlsUpdaterService"
			android:exported="false">
        </service>
        <service
			android:label="@string/app_name"
			android:name=".services.MCProxyService"
			android:exported="false">
        </service>
		
		<receiver android:name=".widget.PingWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_BIND" />
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
				<action android:name="android.appwidget.action.APPWIDGET_DELETED" />
				<action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
				<action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
				<action android:name="android.appwidget.action.APPWIDGET_HOST_RESTORED" />
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE_OPTIONS" />
				<action android:name="android.appwidget.action.APPWIDGET_PICK" />
				<action android:name="android.appwidget.action.APPWIDGET_RESTORED" />
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/ping_widget" />
        </receiver>
		<receiver android:name=".widget.PingWidget$PingHandler">
			<intent-filter>
                <action android:name="update" />
            </intent-filter>
		</receiver>
    </application>
</manifest>
