<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nao20010128nao.Wisecraft">
    <application>
		<activity
			android:label="@string/wsi"
			android:name=".widget.WidgetStateInspector"
			android:exported="true"
			android:fitsSystemWindows="false"
			android:enabled="@bool/inspectorEnabled">
        </activity>
        <activity
            android:name="com.nao20010128nao.GroovyRoom.LogCatActivity"
            android:label="LogCat">
        </activity>
        <activity
                android:name=".misc.debug.DebugList"
                android:label="@string/dbgMenu">
        </activity>
        <activity
                android:name=".misc.debug.GroovyTestKit"
                android:label="Groovy Test Kit">
        </activity>
    </application>
</manifest>
