<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nao20010128nao.Wisecraft">
    <application>
		<activity
			android:label="@string/wsi"
			android:name=".widget.WidgetStateInspector"
			android:exported="true"
			android:fitsSystemWindows="false"
			android:enabled="@bool/inspectorEnabled">
			<intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
